<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile form</title>
</head>
<body>
    <h1>Fitness Survey Page Test</h1>

    <form action="/fitnessSurvey" method="POST">
        {% csrf_token %}

        <!-- <input type="hidden" name="user_id" value="{{ user_id }}"> -->

        <label for="weight">Weight (Pounds)</label>
        <input type="text" name="weight">
        <br>

        <label for="height">Height (Feet)</label>
        <input type="text" name="height">
        <br>

        <label for="age">age</label>
        <input type="text" name="age">
        <br>

        <label for="sex">sex</label>
        <select name="sex" id="sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br>

        <label for="activityLevels">How active are you:</label>
        <select name="activityLevels" id="activityLevels">
            <option value="Sedentary">Sedentary - little to no activity</option>
            <option value="Lightly Active">Lightly Active</option>
            <option value="Moderately Active">Moderately Active</option>
            <option value="Very Active">Very Active</option>
        </select>
        <br>

        <label for="fitnessGoals">What is your fitness Goal:</label>
        <select name="fitnessGoals" id="fitnessGoals">
            <option value="Lose Weight">Lose Weight</option>
            <option value="Maintain Weight">Maintain Weight</option>
            <option value="Gain Weight">Gain Weight</option>
        </select>
        <br>

        <button type="submit">Submit Form</button>

    </form>
    
</body>
</html>