<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOODLOG TEST</title>
</head>
<body>
    <h1>foodlog Test</h1>

    <form action="" method="POST">
        <label for="amount">Serving Size</label>
        <input type="text" name="amount">

        <label for="food">Food Name</label>
        <input type="text" name="food">

        <button type="submit">Search Food</button>
    </form>
    
</body>
</html>